@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "About";
}

<h1>About Us</h1>
<p>This e-commerce website is to improves the management and productivity of the customer.</p>