@{
    ViewData["Title"] = "Home Page";
}
<body class="IndexBody">

<main>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2> Healing with purpose, one dose at a time. </h2>

</div>




</main>

    
   
</body>

